# Exclude EVERYTHING.
*

# Only allow things that are explicitly referenced from the Dockerfile(s).
!Makefile

!minijail/Makefile
!minijail/common.mk
!minijail/gen_constants.sh
!minijail/gen_syscalls.sh
!minijail/tools/*.py

!minijail/arch.h
!minijail/bpf.c
!minijail/bpf.h
!minijail/config_parser.c
!minijail/config_parser.h
!minijail/dump_constants.cc
!minijail/elfparse.c
!minijail/elfparse.h
!minijail/gen_constants-inl.h
!minijail/gen_constants.c
!minijail/gen_syscalls-inl.h
!minijail/gen_syscalls.c
!minijail/libconstants.h
!minijail/libminijail-private.h
!minijail/libminijail.c
!minijail/libminijail.h
!minijail/libminijailpreload.c
!minijail/libsyscalls.h
!minijail/minijail0.c
!minijail/minijail0_cli.c
!minijail/minijail0_cli.h
!minijail/scoped_minijail.h
!minijail/signal_handler.c
!minijail/signal_handler.h
!minijail/syscall_filter.c
!minijail/syscall_filter.h
!minijail/syscall_filter_unittest_macros.h
!minijail/syscall_wrapper.c
!minijail/syscall_wrapper.h
!minijail/system.c
!minijail/system.h
!minijail/test_util.h
!minijail/util.c
!minijail/util.h

!README.md
!src/**/*
!Cargo.toml
!Cargo.lock
!tools/Main.runtimeconfig.json
!tools/Release.rsp
!tools/java.base.aotcfg
!tools/mkroot
!tools/omegajail-setup
!tools/omegajail-container-wrapper
!tools/omegajail-cgroups-wrapper
!policies/*.policy
!policies/*.frequency
