# artifacts
**/*.o
**/*.so
**/*.d
**/*.depends
**/*.gen.c
**/*.a
**/*.bpf
**/*.pyc
**/*.stamp
java-compile
omegajail
stdio-mux
.git/**
.mypy_cache/**

# minijail .gitignore
minijail/tools/__pycache__/
minijail/dump_constants
minijail/minijail0
minijail/constants.json

# test artifacts
smoketest/run/**
util_test

# mkroot artifacts
tools/.remote-file-cache/**
*.tar.xz
rootfs/**
