# artifacts
*.o
omegajail
sigsys-tracer
stdio-mux

# test artifacts
smoketest/c/
smoketest/cpp/
smoketest/cs/
smoketest/hs/
smoketest/java/
smoketest/lua/
smoketest/pas/
smoketest/py/
smoketest/rb/

# mkroot artifacts
tools/.remote-file-cache/
