# artifacts
*.o
*.bpf
omegajail
sigsys-tracer
stdio-mux
.mypy_cache/

# test artifacts
smoketest/c/
smoketest/cpp/
smoketest/cpp17-gcc/
smoketest/cpp17-clang/
smoketest/cs/
smoketest/hs/
smoketest/java/
smoketest/lua/
smoketest/pas/
smoketest/py/
smoketest/py3/
smoketest/rb/

# mkroot artifacts
tools/.remote-file-cache/
*.tar.xz
