[submodule "minijail"]
	path = minijail
	url = https://android.googlesource.com/platform/external/minijail
	branch = master
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
