@include ./gcc.policy

# I/O
getdents64: allow
rename: allow

# Threads
clone: allow
rt_sigaction: {arg0 != SIGSYS; allow, return EINVAL}
sigaltstack: allow
