@include ./omegajail.policy

# Exit
{exit, exit_group}: allow

# I/O
access: allow
close: allow
{dup, dup2, dup3}: allow
{fstat[arch=x86_64], fstat64[arch=armv7]}: allow
ioctl: return ENOTTY
{lseek, _llseek[arch=armv7]}: allow
openat: allow
read: allow
socket: return ENETDOWN
{stat[arch=x86_64], stat64[arch=armv7]}: allow
{write, writev}: allow

# Memory
{arch_prctl[arch=x86_64], ARM_set_tls[arch=armv7]}: allow
brk: allow
madvise: allow
{mmap[arch=x86_64], mmap2[arch=armv7]}: allow
mremap: allow
munmap: allow
mprotect: allow

# Environment
sysinfo: return ENOSYS

# Time
clock_gettime: allow
gettimeofday: allow
time[arch=x86_64]: allow
times: allow

# abort()
getpid: allow
gettid: allow
rt_sigaction: arg0 != SIGSYS
rt_sigprocmask: allow
rt_sigreturn: allow
tgkill: arg0 == 2

# Address Sanitizer
clone: allow
futex: allow
getdents: allow
getppid: allow
getrlimit: allow
{lstat[arch=x86_64], lstat64[arch=armv7]}: allow
prctl: arg0 == PR_SET_PDEATHSIG || arg0 == PR_GET_DUMPABLE || arg0 == PR_SET_PTRACER
ptrace: arg0 == 0 || arg1 == 2
readlink: allow
set_robust_list: allow
set_tid_address: allow
setrlimit: return 0
sigaltstack: allow
wait4: allow
