@include ./base/omegajail.policy
@frequency ./pas.frequency

# Exit
{exit, exit_group}: allow

# I/O
ioctl: return ENOTTY
open: allow
close: allow
{stat[arch=x86_64], stat64[arch=armv7]}: allow
select: allow
read: allow
readlink: allow
write: allow

# Memory
{arch_prctl[arch=x86_64], ARM_set_tls[arch=armv7]}: allow
brk: allow
madvise: allow
{mmap[arch=x86_64], mmap2[arch=armv7]}: allow
mprotect: allow
mremap: allow
munmap: allow

# Environment
{getrlimit[arch=x86_64], ugetrlimit[arch=armv7]}: allow

# Time
time: allow

# abort()
getpid: allow
gettid: allow
rt_sigaction: arg0 != SIGSYS
rt_sigprocmask: allow
rt_sigreturn: allow
tgkill: arg0 != 1
