@include ./gcc.policy

# I/O
epoll_create1: allow
epoll_ctl: allow
epoll_wait: allow
eventfd2: allow
fdatasync: allow
{fcntl[arch=x86_64], fcntl64[arch=armv7]}: allow
{ftruncate[arch=x86_64], ftruncate64[arch=armv7]}: allow
getdents64: allow
mkdir: allow
open: allow
rename: allow
rmdir: allow
unlinkat: allow

# System
getegid: allow
geteuid: allow
prctl: arg0 == PR_SET_NAME
uname: allow

# Threads
clone: allow
clone3: allow
rt_sigaction: {arg0 != SIGSYS; allow, return EINVAL}
sched_yield: allow
